<h1>Add a new image:</h1>

<%= form_for [@user, @image] do |f| %>
  <br>
  <%= f.label :url %>:
  <%= f.text_field :url %>
  <br><br>
  <%= f.label :Name_or_Description %>:
  <%= f.text_field :description %>
  <br><br>
  <p><%= f.submit %></p>
<% end %>

